<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/adminHead') %>
    <script src="/scripts/mainAdmin.js" defer></script>
    <title>Administration Main</title>
</head>
<body>
    <%- include('partials/adminHeader') %>
    <%- include('partials/adminNav') %>
    <% if(!farm) {%>
        <p>
            <a href="/admin/newFarm">
                <button id="button__add-farm" class="btn-lrg">Add Farm Details</button>
            </a>
        </p>
    <% } else { %>
    <article class="body__article-details black-text-shadow">
        <table class="table__farm-details text-align-left">
            <th colspan="2" class="text-align-center">Farm Details</th>
            <tr>
                <td>Name:</td>
                <td><%= farm.name %></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><%= farm.address %></td>
            </tr>
            <tr>
                <td>City:</td>
                <td><%= farm.city %></td>
            </tr>
            <tr>
                <td>State:</td>
                <td><%= farm.state %></td>
            </tr>
            <tr>
                <td>Zip:</td>
                <td><%= farm.zip %></td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td><%= farm.phone %></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><%= farm.email %></td>
            </tr>
            <tr>
                <td class="text-align-right" colspan="2">
                    <a href="/admin/<%= farm._id %>/edit" tabindex="-1">
                        <button class="btn-med">Edit</button>
                    </a>
                </td>
            </tr>
        </table>
    <% } %>
    </article>
    <%- include('partials/adminFooter') %>
</body>
</html>