<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/adminHead') %>
</head>
<body>
    <%- include('partials/adminHeader') %>
    <%- include('partials/adminNav') %>
    Trial page
    <div class="header">
        <h1>Product Show Page</h1>
    </div>
    <%- include('../partials/adminNav') %>
    <section class="display-data">
        <div class="upload-img">
            <label class="prod-labels" for="img">Product Image</label>
            <div class="prod-img">
                <img src="<%= product.img %>" alt="upload pic">
            </div>
        </div>
        <div class="prod-details" id="show-page-details">
            <div class="row">
                <p class="p__show-page "></p>
            </div>
            <div class="row">
                
            </div>
            <div class="row">
                
            </div>
            <div class="row">
                <p class="p__show-page"></p>
            </div>
            <div class="row">
                <p class="p__show-page"></p>
            </div>
            <div class="row">
                <p class="p__show-page"></p>
            </div>
            <div class="row">
                <p class="p__show-page"></p>
            </div>
            <div class="class align-right">
                
            </div>
        </div>
    </section>
    <footer>

    </footer>
</body>
</html>
