
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
    <script src="/scripts/cartLabel.js" defer></script>
    <script src="/scripts/profile.js" defer></script>
    <script src="/scripts/signout.js" defer></script>
    <link rel="stylesheet" href="/styles/sub-form.css">
    <title>Edit user</title>
</head>

<body>
  <%- include('../../header') %>

  <h1>Edit info for <%= user.name %>! </h1>

  <!-- user cannot change email! -->
  <label for="email"><b>Email: </b></label> <%= user.email %> <br>

  <form action="/user/<%= user._id %>?_method=PUT" method="POST">
    <label for="address"><b>Address: </b></label>
    <input type="text" name="address" placeholder="<%= user.address %>" required>
    <br>
    <label for="city"><b>City: </b></label>
    <input type="text" name="city" placeholder="<%= user.city %>" required>
    <br>
    <label for="state"><b>State: </b></label>
    <input type="text" name="state" placeholder="<%= user.state %>" required>
    <br>
    <label for="zip"><b>Zip: </b></label>
    <input type="text" name="zip" placeholder="<%= user.zip %>" required>
    <br>
    <label for="phone"><b>Phone: </b></label>
    <input type="text" name="phone" placeholder="<%= user.phone %>" required>
    <br>
    <button type="submit">Confirm changes</button>
  </form>
  <div class="back">
    <button onclick="history.back()">Cancel</button>
  </div>


  <%- include('../../footer') %>
</body>

</html>