<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>User</title>
</head>
<body>
  <%- include('../../header') %>

  <!-- display the name -->
  <h1>Welcome <%= user.name %>! </h1>
  
  <!-- need to add edit functionality for the personal info -->
  <label for="email"><b>Email: </b></label> <%= user.email %> <br>
  <label for="address"><b>Address: </b></label> <%= user.address %> <br>
  <label for="city"><b>City: </b></label> <%= user.city %> <br>
  <label for="state"><b>State: </b></label> <%= user.state %> <br>
  <label for="zip"><b>Zip: </b></label> <%= user.zip %> <br>
  <label for="phone"><b>Phone: </b></label> <%= user.phone %> <br>

  <form action="/user/edit">
    <button type="submit">Edit info</button>
  </form>


  <%- include('../../footer') %>
</body>
</html>