<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/adminHead') %>
    <script src="/scripts/custAdmin.js" defer></script>
    <title>New Customer</title>
</head>
<body>
    <%- include('../partials/adminHeader') %>
    <%- include('../partials/adminNav') %>
    <article class="body__article-details black-text-shadow">
        <form action="/admin/cust/<%= customer._id %>?_method=PUT" method="POST">
            <table class="table__farm-details text-align-left">
                <th colspan="2" class="text-align-center">Customer Details</th>
                <tr>
                    <td>
                        <label for="name">Name:</label>
                    </td>
                    <td>
                        <input class="input__user-name" type="text" name="name" value="<%= customer.name %>" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="address">Address:</label>
                    </td>
                    <td>
                        <input class="input__user-address" type="text" name="address" value="<%= customer.address %>" >
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="city">City:</label>
                    </td>
                    <td>
                        <input class="input__user-city" type="text" name="city" value="<%= customer.city %>">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="state">State:</label>
                    </td>
                    <td>
                        <input class="input__user-state" type="text" name="state" value="<%= customer.state %>">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="zip">Zipcode:</label>
                    </td>
                    <td>
                        <input class="input__user-zip" type="text" name="zip" maxlength="5" value="<%= customer.zip %>">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="phone">Phone:</label>
                    </td>
                    <td>
                        <input class="input__user-phone" type="tel" name="phone" maxlength="12" placeholder="xxx-xxx-xxxx" value="<%= customer.phone %>" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="email">Email:</label>
                    </td>
                    <td>
                        <input class="input__user-email" type="email" name="email" value="<%= customer.email %>" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password">Password:</label>
                    </td>
                    <td>
                        <button class="btn-sml" id="button__update-password" type="button">Update Password</button>
                        <input type="password" id="input__admin-password" name="password" placeholder="minimum length 5" hidden>
                        <input type="hidden" id="pass-updated" name="passUpdated" value="false">
                    </td>
                </tr>
                <tr>
                    <td class="text-align-right" colspan="2">
                        <button class="btn-lrg btn-back">Back</button>
                        <button class="btn-lrg" type="submit">Update</button>
                    </td>
                </tr>
            </table>
        </form>
    </article>
    <%- include('../partials/adminFooter') %>
</body>
</html>