<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/adminHead') %>
    <title>Customer Details</title>
</head>
<body>
    <div class="header">
        <h1>Customer Details</h1>
    </div>
    <%- include('../partials/adminNav') %>
    <section class="display-data">
        <div class="cust-details">
            <div class="row align-center-vert blk-bdr-bottom">
                <p id="p__new-cust">Customer Details</p>
            </div>
            <div class="row align-center-vert">
                <div class="col-10">
                    Name:
                </div>
                <div class="col-30">
                    <p>
                        <%= customer.name %>
                    </p>
                </div>
            </div>
            <div class="row align-center-vert">
                <div class="col-10">
                    Address:
                </div>
                <div class="col-30">
                    <p>
                        <%= customer.address %>
                    </p>
                </div>
            </div>
            <div class="row align-center-vert">
                <div class="col-10">
                    City:
                </div>
                <div class="col-30">
                    <p>
                        <%= customer.city %>
                    </p>
                </div>
            </div>
            <div class="row align-center-vert">
                <div class="col-10">
                    State:
                </div>
                <div class="col-30">
                    <p>
                        <%= customer.state %>
                    </p>
                </div>
            </div>
            <div class="row align-center-vert">
                <div class="col-10">
                    Zipcode:
                </div>
                <div class="col-30">
                    <p>
                        <%= customer.zip %>
                    </p>
                </div>
            </div>
            <div class="row align-center-vert">
                <div class="col-10">
                    Phone:
                </div>
                <div class="col-30">
                    <p>
                        <%= customer.phone %>
                    </p>
                </div>
            </div>
            <div class="row align-center-vert">
                <div class="col-10">
                    Email:
                </div>
                <div class="col-30">
                    <p>
                        <%= customer.email %>
                    </p>
                </div>
            </div>
            <div class="row align-center-vert">
                <div class="col-10">
                    Password:
                </div>
                <div class="col-30">
                    <p>
                        <%= customer.password %>
                    </p>
                </div>
            </div>
            <div class="row align-center-vert">
                <!-- <button class="btn-med" type="button">Clear Form</button> -->
                <!-- <button class="btn-med" type="submit">Add Customer</button> -->
            </div>
        </div>
    </section>
    <footer>

    </footer>
</body>
</html>