<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/product.css">
  <title>All products</title>
</head>

<body>
  <%- include('../header') %>
  <h1>All products</h1>

  <div class="container">

    <!-- product card -->
    <!-- product image, name, and price. on  hover it will display description? -->
    <% for( let i = 0; i < product.length; i++ ) { %>
    <div class="product">
      <img src="<%= product[i].img %>" alt="<%= product[i].name %>">
      <p class="product-desc"> 
        <a href="/product/<%= product[i]._id%>">
        <%= product[i].name %></a> 
        <span class="price"> <%= product[i].price %> </span></p> <br />
      <!-- <small><%= product[i].description %></small> -->
    </div>
    <% } %>

  </div>




  <%- include('../footer') %>
</body>

</html>