<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/product.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
  <script src="/scripts/addProducts.js" defer></script>
  <script src="/scripts/cartLabel.js" defer></script>
  <title>Show Product</title>
</head>

<body>
  <%- include('../header') %>
  <!-- <h1>This is the product show page</h1> -->

  <div class="show-container">
    <input id="prod-id" type="hidden" name="prodID" value="<%= product._id %>">
    <img id="prod-image" class="photo" src="<%= product.img %>" alt="<%= product.name %>">

    <div class="content">
      <h2 id="prod-name"><%= product.name %></h2>
      <p id="prod-price" class="price"><%= product.price %></p>
      <p id="prod-desc" class="description"><%= product.description %></p>

      <!-- Check if product has birth/ready dates -->
      <% if (product.birthDate && product.readyDate) { %>
      <p id="prod-bDate">Birth date: <%= product.birthDate %></p>
      <p id="prod-rDate" >Ready date: <%= product.readyDate %></p>
      <%}%>

      <!-- Product Availability -->
      <% if (product.available===true) { %>
      <input id="prod-available"  type="hidden" name="availiable" value="<% (product.available)? 'Yes' : 'No' %>">
      <p>This item is currently in stock.</p>
      <% } else { %>
      <p>This item is currently unavailable.</p>
      <% } %>

      <!-- Growth notes -->
      <p><b>Note from the producer:</b></p>
      <% if (!product.growthNotes) { %>
      <p>There are no further notes on this product from the producer.</p>
      <% } else {%>
      <p id="prod-notes"><%= product.growthNotes %></p>
      <% } %>

      <button class="button__add-to-cart" type="submit">Add to cart</button>
    </div>

  </div>

  <%- include('../footer') %>
</body>

</html>