<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/product.css">
  <title>Show Product</title>
</head>

<body>
  <%- include('../header') %>
  <!-- <h1>This is the product show page</h1> -->

  <div class="container">
    <img class="photo" src="<%= product.img %>" alt="<%= product.name %>">

    <div class="content">
      <h2><%= product.name %></h2>
      <p class="price"><%= product.price %></p>
      <p class="description"><%= product.description %></p>

      <!-- Check if product has birth/ready dates -->
      <% if (product.birthDate && product.readyDate) { %>
      <p>Birth date: <%= product.birthDate %></p>
      <p>Ready date: <%= product.readyDate %></p>
      <%}%>

      <!-- Product Availability -->
      <% if (product.available===true) { %>
      <p>This item is currently in stock.</p>
      <% } else { %>
      <p>This item is currently unavailable.</p>
      <% } %>

      <!-- Growth notes -->
      <p><b>Note from the producer:</b></p>
      <% if (!product.growthNotes) { %>
      <p>There are no further notes on this product from the producer.</p>
      <% } else {%>
      <p><%= product.growthNotes %></p>
      <% } %>

      <button type="submit">Add to cart</button>
    </div>

  </div>

  <%- include('../footer') %>
</body>

</html>