<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/adminHead') %>
    <script src="/scripts/prodAdmin.js" defer></script>
    <title>Product Administration</title>
</head>
<body>
    <%- include('../partials/adminHeader') %>
    <%- include('../partials/adminNav') %>
    <article class="body__article-details no-bottom-radius">
        <table class="table__farm-details text-align-left">
            <!-- <th colspan="4" class="text-align-center black-text-shadow">All Products</th> -->
            <tr>
                <td class="text-align-center black-text-shadow">Name</td>
                <td class="text-align-center black-text-shadow">Description</td>
                <td class="text-align-center black-text-shadow">Price</td>
                <td></td>
            </tr>
            <% for(let i = 0; i < products.length; i++) {%>
            <tr class="<%= (i%2===0) ? 'white' : 'gray' %> black-text">
                <td><%= products[i].name %></td>
                <td><%= products[i].description %></td>
                <td><%= products[i].price %></td>
                <td class="text-align-right table-button">
                    <a href="/admin/product/<%= products[i]._id %>" tabindex="-1">
                        <button type="button" class="btn-sml">View</button>
                    </a>
                    <a href="/admin/product/<%= products[i]._id %>/edit" tabindex="-1">
                        <button class="btn-sml">Edit</button>
                    </a>
                    <form action="/admin/product/<%= products[i]._id %>?_method=DELETE" method="POST">
                        <button class="btn-sml delete-prod">Delete</button>
                    </form>
                </td>
            </tr>
        <% } %>
        </table>
    </article>
    <footer>

    </footer>
</body>
</html>