<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/adminHead') %>
    <title>Product Show Page</title>
</head>
<body>
    <div class="header">
        <h1>Product Show Page</h1>
    </div>
    <%- include('../partials/adminNav') %>
    <section class="display-data">
        <div class="upload-img">
            <label class="prod-labels" for="img">Product Image</label>
            <div class="prod-img">
                <img src="<%= product.img %>" alt="upload pic">
            </div>
        </div>
        <div class="prod-details" id="show-page-details">
            <div class="row">
                <p class="p__show-page "><%= product.name %></p>
            </div>
            <div class="row">
                <textarea name="description" id="textarea__show-page" cols="30" rows="5"><%= product.description %></textarea>
            </div>
            <div class="row">
                <textarea name="description" id="textarea__show-page" cols="30" rows="5"><%= product.growthNotes %></textarea>
            </div>
            <div class="row">
                <p class="p__show-page">Price: <%= product.price %></p>
            </div>
            <div class="row">
                <p class="p__show-page">Birth Date: <%= product.birthDate %></p>
            </div>
            <div class="row">
                <p class="p__show-page">Date Ready: <%= product.readyDate %></p>
            </div>
            <div class="row">
                <p class="p__show-page">Available: <%= (product.available)? 'Yes' : 'No' %></p>
            </div>
            <div class="class align-right">
                <a href="/admin/product/<%= product._id %>/edit" tabindex="-1">
                    <button class="btn-lrg">Edit</button></a>
                <form action="/admin/product/<%= product._id %>?_method=DELETE" method="POST">
                    <button id="from-show" class="btn-lrg delete-prod">Delete</button>
                </form>
            </div>
        </div>
        <!-- <div class="delete-item">
            Delete me
        </div> -->
    </section>
    <footer>

    </footer>
</body>
</html>